.form
{
    margin-top: 3%;
    margin-left: 96%;
    width: 40%;
    margin: auto;

}

.form td
{
    font-size: 150%;
    border-spacing: 20%;
}

table
{
    border-collapse: separate;
    width: 50%;
    margin-left: 25%;
    margin-top: 7%;
}