.form
{
    margin-top: 3%;
    margin-left: 96%;
    width: 40%;
    margin: auto;

}

.form td
{
    font-size: 150%;
    border-spacing: 20%;
}

table
{
    border-collapse: separate;
    width: 50%;
    margin-left: 25%;
    margin-top: 7%;
}
.div-input{
    margin-top: 8%;
    
}

.div-input input{
    width: 200px;
    height: 35px;
    font-size: 22px;
    border: 1px solid #000000;
    margin-right: 10px;
}

.div-input label{
    font-size: 16px;
}

