.form
{
    margin-top: 3%;
    /* margin-left: 46%; */
    width: 40%;
    margin: auto;

}

.form td
{
    font-size: 150%;
    border-spacing: 20%;
}

table
{
    border-collapse: separate;
    width: 50%;
}